* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 16px;
  background: #111;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  gap: 12px;
}

.item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

/* size rules */
.small {
  grid-column: span 2;
  grid-row: span 2;
}

.medium {
  grid-column: span 4;
  grid-row: span 3;
}

.large {
  grid-column: span 6;
  grid-row: span 5;
}

/* mobile */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .small,
  .medium,
  .large {
    grid-column: span 2;
    grid-row: span 2;
  }
}